@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap');
/* font-family: 'Jost', sans-serif; */


/********************** 글로벌 설정 *********************/
html, body {font-size: 16px; height: 10000px; font-family: 'Jost', sans-serif; background-color: #eee;}
body {}
.wrapper {max-width: 1400px; margin: auto; padding: .5em;}
.wrapper > .main-home {max-width: 85%;}

button.bt {background-color: #f00000; color: #fff; padding: .75em 1.125em; border-radius: 3px;}
button.bt:hover {background-color: #bd1313;}
button.btn {color: #f00000; padding: .75em 1.125em; margin-top: 1em;}
button.btn:hover {background-color: #ccc; color: #f00000;}

.whole-wrapper {display: flex;}

/********************** header *********************/
.header-wrapper {width: 100%; background-color: #f00000; color: #fff; position: relative;}

.header-wrapper > .wrapper {display: flex; align-items: center; padding: 0;}
.header-wrapper > .wrapper > .logo-wrapper {width: 8%; position: relative;}
.header-wrapper > .wrapper > .logo-wrapper > .logo {position: absolute; top: -3rem; z-index: 100;}
.header-wrapper > .wrapper > .logo-wrapper > .logo img {width: 100%;}

.header-wrapper > .wrapper > .header-inwrap {width: 92%;}
.header-wrapper > .wrapper > .header-inwrap > .top-header > .top-navi {padding: .7em 0; letter-spacing: -.5px; display: flex; align-items: center; justify-content: flex-end; border-bottom: 1px solid #bbb;}
.header-wrapper > .wrapper > .header-inwrap > .top-header > .top-navi > a {margin-right: 1.5em; }
.header-wrapper > .wrapper > .header-inwrap > .top-header > .top-navi > .navi {margin-right: 2em; font-size: .725em; font-weight: bold;}

.header-wrapper > .wrapper > .header-inwrap > .bot-header {padding: 0 1em; display: flex; font-size: .9em; justify-content: space-between; align-items: center;}
.header-wrapper > .wrapper > .header-inwrap > .bot-header > .bot-navi {display: flex;}
.header-wrapper > .wrapper > .header-inwrap > .bot-header > .bot-navi > .navi {padding: 2em 0; margin-right: 2em; font-weight: 600;}
.header-wrapper > .wrapper > .header-inwrap > .bot-header > .bot-navi > .navi.active {border-bottom: 4px solid white;}
.header-wrapper > .wrapper > .header-inwrap > .bot-header > .spon-wrapper {display: flex; width: 15%;}
.header-wrapper > .wrapper > .header-inwrap > .bot-header > .spon-wrapper > .img-wrap {width: 33.3333%;}
.header-wrapper > .wrapper > .header-inwrap > .bot-header > .spon-wrapper > .img-wrap > a > img {width: 100%;}


/* sub-navi-wrapper */
.sub-navi-wrapper {position: absolute; width: 100%; color: #111; padding: 2em 3em; border-bottom: 2px solid #f00000; font-weight: 600; background-color: #fff;
z-index: 99;}
.sub-navi-wrapper .navi:hover > a {color: #f00000; transition: all .5s;}
.sub-navi-wrapper > .sub-navi-inwrap {display: flex; justify-content: space-between;}
.sub-navi-wrapper > .sub-navi-inwrap > .sub-navi-wrap {width: 100%; padding:0 1em; font-size: .825em;}
.sub-navi-wrapper > .sub-navi-inwrap > .sub-navi-wrap > h4 {font-size: 1.5em; margin-bottom: 2em;}
.sub-navi-wrapper > .sub-navi-inwrap > .sub-navi-wrap > h4::after {content: ''; background-color: #bbb; width: 40px; height: 5px; display: block;
  position: absolute; margin-top: 10px;}
.sub-navi-wrapper > .sub-navi-inwrap > .sub-navi-wrap > .navi {margin-bottom: 1em;}
.sub-navi-wrapper > .sub-navi-inwrap > .sub-navi-wrap > .navi-line { padding-bottom: 1em; border-bottom: 1px solid #bbb;}
.sub-navi-wrapper > .sub-navi-inwrap > .sub-navi-wrap > .navi.time {line-height: 1.5em;}
.sub-navi-wrapper > .sub-navi-inwrap > .sub-navi-wrap > .navi > a {line-height: 1.8em;}

/*** sub-navi-wrapper common **/
.sub-navi-wrapper > .sub-navi-inwrap > .sub-navi-wrap > .navi > a > i {color: #f00000;}
.sub-navi-wrapper > .sub-navi-inwrap > .sub-navi-wrap > .navi > .img-wrap {display: flex; flex-direction: column;}
.sub-navi-wrapper > .sub-navi-inwrap > .sub-navi-wrap > .navi > .img-wrap > a > img {width: 8%; margin-right: 1em;}
.sub-navi-wrapper > .sub-navi-inwrap > .sub-navi-wrap > button {margin-top: 1.5em;}
.sub-navi-wrapper > .sub-navi-inwrap > .sub-navi-wrap:not(:last-child) {border-right: 1px solid #bbb;}
.sub-navi-wrapper > .sub-navi-inwrap > .sub-navi-wrap.gender > .navi {margin-bottom: 2em; color: #f00000; font-weight: bold; text-align: center;}
.sub-navi-wrapper > .sub-navi-inwrap > .sub-navi-wrap.gender > .navi > a:hover {text-decoration: underline;}
.sub-navi-wrapper > .sub-navi-inwrap > .sub-navi-wrap > .navi > a > i {margin-right: .5em; color: #f00000;}
.sub-navi-wrapper > .sub-navi-inwrap > .sub-navi-wrap > .navi > .fea-img > img {width: 100%;}

.sub-navi-wrapper > .sub-navi-inwrap > .sub-navi-wrap > .fea-navi {width: 80%; background-color: rgb(248, 248, 248); box-shadow: 0 0 4px rgba(0, 0, 0, .7);}
.sub-navi-wrapper > .sub-navi-inwrap > .sub-navi-wrap > .fea-navi > a {padding: 1em;}

.sub-navi-wrapper .fea-img {position: relative; overflow: hidden;}
.sub-navi-wrapper .fea-img img{transition: all .5s;}
.sub-navi-wrapper .fea-img:hover img{transform: scale(1.1);}
.sub-navi-wrapper .fea-img .hover-bg {width: 100%; background-color: #bd1313; opacity: 0; width: 100%; height: 100%; position: absolute; top: 0; left: 0;
  transition: all .5s;}
.navi:hover .main-desc h3 {color: #f00000;}
.navi:hover .hover-bg {opacity: .6;}


/*** .sub-navi-wrapper news **/
.news {display: none; font-size: 1.125em; font-weight: 600;}

/** news-feature **/
.news > .sub-navi-inwrap > .sub-navi-wrap .features {width: 100px}
.news > .sub-navi-inwrap > .sub-navi-wrap > .fea-navi {border-top: 2px solid #f00000; background-color: #151d2d;}
.news > .sub-navi-inwrap > .sub-navi-wrap > .fea-navi > a {color: #fff; font-weight: bold; font-size: 1.25em; padding: 1em .3em;}
.news > .sub-navi-inwrap > .sub-navi-wrap > .fea-navi > a > span {color: #f00000; font-size: .8em; line-height: 2;}
.news > .sub-navi-inwrap > .sub-navi-wrap > .fea-navi > .fea-img {width: 100%; overflow: hidden;}
.news > .sub-navi-inwrap > .sub-navi-wrap > .fea-navi > .fea-img > img {width: 140%; transition: all .5s;}
.news > .sub-navi-inwrap > .sub-navi-wrap > .fea-navi > .fea-img > img:hover {transform: scale(1.2);}

/** news-result **/
.news > .sub-navi-inwrap > .sub-navi-wrap.result > .navi-line:hover > a {color: #f00000;}
.news > .sub-navi-inwrap > .sub-navi-wrap.result .navi .img-wrap {display: flex; flex-direction: column;}
.news > .sub-navi-inwrap > .sub-navi-wrap.result .navi .img-wrap  > a > img {margin-top: -10px; width: 10%; margin-right: .5em;}
.news > .sub-navi-inwrap > .sub-navi-wrap.result .navi .img-wrap:hover > a {color: #f00000;}

/*** sub-navi-wrapper teams **/
.teams {font-weight: 600; display: none;}
.teams .sub-navi-wrap > .navi > a {font-size: 1.125em;}
.teams .sub-navi-wrap > .navi > a:hover {color: #f00000;}
.teams .sub-navi-wrap > .navi > a > span {margin-right: 1em; color: #f00000;}

/*** sub-navi-wrapper matches **/
.matches {font-weight: 600; display: none;}
.matches > .sub-navi-inwrap > .sub-navi-wrap > .fixtures {border-bottom: 1px solid #ccc;}
.sub-navi-wrapper > .sub-navi-inwrap > .sub-navi-wrap > .time {color: #444;}
.sub-navi-wrapper > .sub-navi-inwrap > .sub-navi-wrap > .time > span {color: #666;}

/*** sub-navi-wrapper tickets **/
.tickets {display: none;}

.tickets > .sub-navi-inwrap > .sub-navi-wrap > .fea-navi:hover > a {text-decoration: underline #f00000;}


/*** sub-navi-wrapper history **/
.history {display: none;}

/*** sub-navi-wrapper the club **/
.club {display: none;}
.club > .sub-navi-inwrap > .contact .navi > p > span {color: #666; line-height: 2; font-weight: 500;}
.club > .sub-navi-inwrap > .contact .navi:nth-child(2) {color: #f00000;}
.club > .sub-navi-inwrap > .contact .navi:nth-child(2) > a:hover {text-decoration: underline #f00000;}
.club > .sub-navi-inwrap > .contact .navi:last-child {color: #f00000;}
.club > .sub-navi-inwrap > .contact .navi:last-child > a:hover {text-decoration: underline #f00000;}

/*** sub-navi-wrapper the fans **/
.fans {display: none;}
.fans >  .sub-navi-inwrap > .follow > .sns {display: flex; justify-content: space-between;}
.fans >  .sub-navi-inwrap > .follow > .sns > .navi > a > i {border: 1px solid #666; border-radius: 6px; padding: .5em; font-size: 2em; margin-bottom: .5em;}
.fans >  .sub-navi-inwrap > .follow > .sns > .navi > a > i:hover {border: 1px solid #f00000;}
.fans >  .sub-navi-inwrap > .follow > .sns > .navi > a:hover {color: #f00000;}

/*** sub-navi-wrapper the store **/
.store {display: none;}
.store > .sub-navi-inwrap > .sub-navi-wrap > .store-navi {border-top: 3px solid #f00000;} 


/********************** main *********************/
/* ********** common *********** */
.main-bar {width: 100%; background-color: #f00000; color: #fff; padding: 1em; margin: 2em 0;}
.main-bar > p {font-size: 1.5em;}

.main-img {position: relative; overflow: hidden;}
.main-img img{transition: all .5s;}
.main-img .hover-bg {width: 100%; background-color: #bd1313; opacity: 0; width: 100%; height: 100%; position: absolute; top: 0; left: 0;
  transition: all .5s;}

.article:hover .main-desc h3 {color: #f00000;}
.article:hover .hover-bg {opacity: .6;}

.art-scale > .main-img {width: 100%;}
.art-scale > .main-img > img {width: 100%;}
.art-scale:hover img{transform: scale(1.1);}

.article-b:not(:last-child) {width: 33.3333%; margin-right: 1em;}
.article-b > .main-img {width: 100%; height: 200px; overflow: hidden;}
.article-b > .main-img > .img-wrap {width: 100%; height: 100%;}
.article-b > .main-img > .img-wrap > img {width: 100%; height: 100%;}

.bt-seemore {display: flex; justify-content: center;}
.divide-wrapper {display: flex; justify-content: space-between;}
.divide-wrapper .divide {border: 1px solid #ccc; width: 30%; height: 0; margin-top: 4em;}
.divide-wrapper .bt-seemore {margin: 3em 1em; text-align: center;}


/* ********** main-score *********** */


/* ********** main-article *********** */
.main-article > .bot-article {display: flex;}

.article {background-color: #fff; border-top: 3px solid #f00000; font-weight: bold; box-shadow: 1px 1px 0 rgba(0, 0, 0, .2); width: 33.3333%;}
.article > .main-desc {padding: 1em;}
.article > .main-desc > .subject {color: #bbb; margin-bottom: 1em;}
.article > .main-desc > .title {color: #444; margin-bottom: 1em; font-size: 1.5em; line-height: 1.3;}
.article > .main-desc > p {font-weight: normal; color: #222; line-height: 1.5;}

.article1 {width: 100%; height: 380px; display: flex; margin-bottom: 1em;}
.article1:hover img{transform: scale(1.1);}


.article2, .article3 {width: 33.3333%; margin-right: 1em;}

.article2 > .main-img {width: 100%;}
.article2 > .main-img > img {width: 100%;}


.article4 > .main-img {width: 100%;}
.article4 > .main-img > img {width: 100%;}

.main-article .bt-seemore {display: flex; justify-content: center;}
.main-article .divide-wrapper {display: flex; justify-content: space-between;}
.main-article .divide-wrapper .divide {border: 1px solid #ccc; width: 30%; height: 0; margin-top: 4em;}
.main-article .divide-wrapper .bt-seemore {margin: 3em 1em; text-align: center;}





/********************** ad *********************/
.main-ad {padding: 2em}
.ad {width: 100%; margin-bottom: 1em;}
/* ********** ad1 *********** */

/* ********** ad2 *********** */
.ad2 {margin-bottom: 1em; background-color: #151d2d; border-top: 3px solid #f00000; color: #fff; font-weight: 600; cursor: pointer;}
.ad2 > .ad-wrapper {padding: 8%;}
.ad2 > .ad-wrapper > p {font-size: .925em; color: #ccc; line-height: 2; margin-bottom: 1em;}
.ad2 > .ad-wrapper .match {display: flex; padding: 1em; border-top: 1px solid #444; border-bottom: 1px solid #444; transition: all .5s;}
.ad2 > .ad-wrapper .match:hover {color: #f00000;}
.ad2 > .ad-wrapper .match > .vs {padding: 0 .5em; font-size: 4em;}
.ad2 > .ad-wrapper .match > .team > p {font-size: 1em; text-align: center;}
.ad2 > .ad-wrapper .match > .team > .img-wrap {width: 100%;}
.ad2 > .ad-wrapper .match > .team > .img-wrap > img {width: 100%;}
.ad2 > .ad-wrapper .bt-wrap {width: 100%; display: flex;}
.ad2 > .ad-wrapper .bt-wrap > .but {width: 50%; padding: 2em 0 .5em 0; color: #fff; font-size: .8em; transition: all .5s;}
.ad2 > .ad-wrapper .bt-wrap > .but:hover {color: #f00000;}
.ad2 > .ad-wrapper .bt-wrap > .but::after {display: inline-block; content: '〉'; margin-left: .5em;}

/* ********** ad3 *********** */
.ad3 {background-color: #f00000; padding: 1em; color: #fff; font-size: 1em; transition: all .5s;}
.ad3:hover {background-color: #a20000;}
.ad3 > a {display: flex;}
.ad3 > a > i {margin-left: auto;}


/* ********** ad4 *********** */
.ad4 {background-color: #fff; border-top: 3px solid #f00000; box-shadow: 0 0 3px rgba(0, 0, 0, .2); font-weight: 600;}
.ad4 > .ad-wrapper {padding: 8%;}
.ad4 > .ad-wrapper > .head {display: flex;}
.ad4 > .ad-wrapper > .head > h2 > p {font-size: .925em; color: #ccc; line-height: 2;}
.ad4 > .ad-wrapper > .head > a {margin-left: auto; border: 1px solid #bbb; border-radius: 5px; padding: .5em .8em;}
.ad4 > .ad-wrapper > .head > a > p {font-size: 1.5em; color: #f00000;}
.ad4 > .ad-wrapper > .full {width: 100%;}
.ad4 > .ad-wrapper .match {width: 100%; display: flex; padding: 1em 0; border-bottom: 1px solid #444; display: flex; align-items: center; transition: all .5s;}
.ad4 > .ad-wrapper .match:hover {color: #f00000;}
.ad4 > .ad-wrapper .match > .desc {font-size: 1em;}
.ad4 > .ad-wrapper .match > .score {margin-left: auto; font-size: 2.5em;}
.ad4 > .ad-wrapper .match > .score > p > span {color: #f00000;}
.ad4 > .ad-wrapper .match > .team > .img-wrap {width: 80%;}
.ad4 > .ad-wrapper .match > .team > .img-wrap > img {width: 100%;}
.ad4 > .ad-wrapper .bt-wrap {width: 100%; text-align: center;}
.ad4 > .ad-wrapper .bt-wrap > .but {padding: 2em 0 1em 0; font-size: 1.125em; transition: all .5s;}
.ad4 > .ad-wrapper .bt-wrap > .but::after {display: inline-block; content: '〉'; margin-left: .5em;}
.ad4 > .ad-wrapper .bt-wrap > .but:hover {color: #f00000;}

/* ********** ad5 *********** */
.ad5 {font-weight: 600;}
.ad5 > h4 {font-size: 2em; margin-bottom: 1em;}
.ad5 > h4::after {content: ''; background-color: #bbb; width: 40px; height: 5px; display: block;
  position: absolute; margin-top: 5px;}
.ad5 > ul {display: flex; justify-content: space-between; margin-bottom: 1em;}
.ad5 > ul > li {color: #666; font-size: 2.825em; border: 1px solid #bbb; border-radius: 5px; background-color: #fff;}
.ad5 > ul > li:hover {color: #f00000; border: 1px solid #f00000; transition: all 1s;}
.ad5 > ul > li > a > i {padding: .2em}


/* ***************aside**************** */
.side-wrapper > a {width: 60px; height: 60px; position: fixed; bottom: 5%; right: 5%; background-color: #f00000; display: flex; justify-content: center; align-items: center; border-radius: 50%;}
.side-wrapper a > img{width: 50%; height: 50%;}


/********************** 반응형 설정 *********************/
@media (max-width: 1399px) {
    
}

@media (max-width: 1199px) {
    
}

@media (max-width: 991px) {
    
}

@media (max-width: 767px) {
    
}

@media (max-width: 575px) {
    
}